section {
    padding-top: 30px;
    padding-bottom: 70px;
}

@media screen and (max-width: 900px) {
    .headerText{
        margin-top: 30px !important;
        width: 100% !important;
    }
}

@media screen and (max-width: 1000px){
    #intro .container .intro-item .border-star {
        display: none !important;
    }
}
@media screen and (max-width: 900px) {
    .iconsWithImageContainer div {
        padding: 27px !important;
    }
    section {
        padding: 5px 10px;
    }
}
@font-face {
    font-family:'Montserratarm' ;
    src: url(../../../static/fonts/Montserratarm-Regular.otf);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Montserratarm";
}

a,
p {
    font-family: "Montserratarm";
    font-size: 20px;
}

p {
    overflow: visible;
}

.buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: wrap;
    -ms-flex: wrap;
    flex: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    margin: 1rem 0;
    font-size: 20px;
}
.buttons button a{
    text-decoration: none;
    color: #002c84;
}

.buttons>button:hover .liknkAdd{
    color: #FFF ;
    transition-duration: 0.2s;
}

.buttons button {
    height: 58px;
    padding: 5px 30px;
    position: relative;
    font-family: "Montserratarm";
    
    
    letter-spacing: 0;
    color: #002c84;
    border: 3px solid #002c84;
    border-radius: 22px;
    cursor: pointer;
    background: transparent;
}
.buttons button:hover{
    background-color: #002C84;
    color: #FFFFFF;
    transition-duration: 0.2s;
}

#intro {
    position: relative;
    padding-bottom: 130px;
}

#intro .intro-star {
    width: 420px;
    position: absolute;
    right: -210px;
    top: 90px;
}

#intro .intro-star-border {
    width: 420px;
    position: absolute;
    right: -210px;
    top: 110px;
}

#intro .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: wrap;
    -ms-flex: wrap;
    flex: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    overflow-x: visible;
    position: relative;
    padding-left: 110px;
    padding-right: 180px;
}

#intro .container .intro-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: wrap;
    -ms-flex: wrap;
    flex: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    width: 100%;
}

#intro .container .intro-item-img {
    position: absolute;
    width: 29px;
    left: -60px;
    top: 100px;
}

#intro .container .intro-item .border-star {
    position: absolute;
    width: 233px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -75px;
}

#intro .container .intro-item-title {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#intro .container .intro-item-title h1 {
    font-size: 100px;
    font-weight: 900;
    text-align: left;
    letter-spacing: 0;
    color: #002c84;
}

#intro .container .intro-img img {
    position: absolute;
}

#about {
    position: relative;
    padding-bottom: 0;
}

#about .star-grey {
    position: absolute;
    width: 810px;
    right: 0;
    top: -40px;
    z-index: -1;
}

#about .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: wrap;
    -ms-flex: wrap;
    flex: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    overflow: visible;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 158px;
}
#about .container .about-block:first-child {
    width: 55%;
}
#about .container .about-block:last-child {
    width: 45%;
}

#about .container .about-block .about-item-img {
    float: right;
    width: 75%;
    margin-right: 20px;
}

#about .container .about-block .about-item-img img {
    width: 100%;
}

#about .container .about-block .about-item {
    width: 95%;
}

#about .container .about-block .about-item h1 {
    position: relative;
    margin: 0 0 30px;
   
    letter-spacing: 0;
    color: #1d285e;
}

#about .container .about-block .about-item h1 img {
    position: absolute;
    width: 31px;
    margin: 0;
    left: -51px;
}

#about .container .about-block .about-item p {
    margin: 0 0 60px;
   
    letter-spacing: 0;
    color: #1d285e;
}

#infos {
    padding: 65px;
}

#infos .infos-block {
    text-align: center;
    background-image: url(../../../static/img/Untitled-3.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#infos .infos-block img {
    display: block;
    margin: 0 auto;
}

#admins {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 137px;
}

#admins .admins-title {
    text-align: center;
}

#admins .admins-title h1 {
    text-align: center;
   
    letter-spacing: 0;
    color: #002c84;
}

#admins .admins-title p {
    text-align: center;
    margin-top: 20px;
    letter-spacing: 0;
    color: #002c84;
    margin-bottom: 40px;
}

#admins .card-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    align-content: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#admins .card-block .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 190px;
    width: 20%;
    min-width: 120px;
    margin: 0 20px;
   
}

#admins .card-block .card img {
    width: 170px;
    height: 170px;
}

#admins .card-block .card-name {
    text-transform: uppercase;
    text-align: center;
    font: normal normal bold 27px/37px GHEA Grapalat;
    letter-spacing: 0;
    color: #002c84;
    margin-bottom: 12px;
    width: 80%;
    margin-top: 10px;
}

#admins .card-block .card-description {
    text-transform: uppercase;
    text-align: center;
    font: normal normal bold 8px/11px GHEA Grapalat;
    letter-spacing: 0;
    color: #002c84;
    margin-top: 0;
    margin-bottom: 25px;
    width: 65%;
}

#team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-flex: wrap;
    -ms-flex: wrap;
    flex: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 50px;
}

#team .team-title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#team .team-title div{
    width: 30%;
}

#team .card-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 60px;
}

#team .card-block .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 20%;
   
}

#team .card-block .card img {
    width: 170px;
    height: 170px;
}

#team .card-block .card-description {
    text-transform: uppercase;
    text-align: center;
    font: normal normal bold 10px/17px GHEA Grapalat;
    letter-spacing: 0;
    color: #002c84;
    margin-top: 0;
    margin-bottom: 25px;
    width: 60%;
}
#about .page2 {
    margin-top: 0;
    padding-top: 0;
    margin-left: 20px;
}
.about_page2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
    max-width: 1000px;
    margin: auto 90px;
}
.redStar{
    margin-top: 18px;
}
.iconsWithImageContainer div {
    width: 20%;
    min-width: 200px;
    padding: 40px;

}
.iconsWithImageContainer div img {
    width: 100%;

}
.iconsWithImageContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
#buissUpHeading h2 {
    text-align: center;
    
    font-weight: 900;
    font-size: 139px;
    line-height: 152px;
    font-family: 'Montserrat';
    color: #002C84;
    letter-spacing: 0;

}
#buissUpHeading{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#buissUpHeading div img {
    width: 100%;
}
#buissUpHeading>div{
    display: flex; 
    justify-content: center;
     width: 85%;
   
}
#buissUpHeading h3 {
    text-align: center;
    font-weight: 900;
    font-size: 90px;
    line-height: 120px;
    font-family: 'Montserrat';
    color: #002C84;
    letter-spacing: 0;
}
#stepsSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
    justify-content: space-around;

}
#stepsSection .content {
    width: 50%;
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
}
.stepsDots > div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 40px;

}
.activeDotDouble,
.activeDotEnd,
.stepsDots .activeDot {
    border: 2px solid #002C84;
}

.stepsDots > div > div {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D1D1D1;
    border-radius: 50%;
    box-sizing: border-box;
    color: #FFFFFF;
    font-style: normal;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}



.stepsDots .activeDot::after {
    content: '';
    position: absolute;
    background-color: #002C84;
    width: 2px;
    height: 20px;
    top: 100%;
    left: 50%;
}
.stepsDots .activeDotDouble::after {
    content: '';
    position: absolute;
    background-color: #002C84;
    width: 2px;
    height: 20px;
    top: 100%;
    left: 50%;
}
.stepsDots .activeDotDouble::before {
    content: '';
    position: absolute;
    background-color: #002C84;
    width: 2px;
    height: 20px;
    bottom: 100%;
    left: 50%;
}
.stepsDots .dot::after {
    content: '';
    position: absolute;
    background-color: #D1D1D1;
    width: 2px;
    height: 30px;
    top: 85%;
    left: 50%;
}
.stepsDots .dot1::after {
    content: '';
    position: absolute;
    background-color: #D1D1D1;
    width: 2px;
    height: 30px;
    top: 85%;
    left: 50%;
}
.stepsDots .dot::before {
    content: '';
    position: absolute;
    background-color: #D1D1D1;
    width: 2px;
    height: 30px;
    bottom: 85%;
    left: 50%;
}
.stepsDots .dotEnd::before {
    content: '';
    position: absolute;
    background-color: #D1D1D1;
    width: 2px;
    height: 30px;
    bottom: 85%;
    left: 50%;
}

.activeDotDouble div,
.activeDotEnd div,
.stepsDots .activeDot div {
    background-color: #002C84 !important;
}
.stepsDots .activeDotEnd::before {
    content: '';
    position: absolute;
    background-color: #002C84;
    width: 2px;
    height: 20px;
    bottom: 100%;
    left: 50%;
}
#stepsSection .content h2 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 47px;
    line-height: 50px;
    letter-spacing: 0;
    color: #707070;
}
#stepsSection .content h3 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0;
    color: #002C84;
    margin: 30px 0;
}
#stepsSection .content p {
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0;
    color: #080505;
}
.iconBlock {
    width: 356px;
    height: 356px;
    border-radius: 50%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconBlock img {
    width: 60%;
}
.info-circle {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.17); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.17);
    border-radius: 50%;
    transition: all 0.8s;

}

.info-circle:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: transparent;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.info-circle img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.infos-block {
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
}
.info-circle-text {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin-top: 35px;

}
.info-circle-text-up {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;

}
.info-circle-text > p,
.info-circle-text-up > p {
  text-align: center;
  
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
 
  letter-spacing: 1.4px;
  color: #4355B1;
}
.info-circle-text > p {
    margin: 1em 0 0;
}

.infos-block > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#infos {
    max-width: 100%;

}
.infos-block > div {
    width: 13%;
}

.info-circle img {
    width: 40% !important;
}
/*.infos-block > div {*/
/*    transform: scale(0.9);*/
/*}*/

/*@media screen and (max-width: 1440px) {*/
/*    .infos-block > div {*/
/*        transform: scale(0.8);*/
/*    }*/
/*}*/

.info-circle:hover{
    transform: rotateY(180deg);
}

.info-circle:hover .circleText {
    opacity: 1;
    visibility: visible;
    transition: all 1s;
    transform: translate(-50%, -50%) rotateY(180deg);
}
.info-circle:hover img {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.info-circle img {
    opacity: 1;
    visibility: visible;
    transition: all 1.5s;
}


.circleText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
}
.circleText>h3{
  text-align: center;
  font-family:'Montserratarm'  ;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  border-bottom:#4355B1 1px solid ;

 padding-bottom: 5px;
  letter-spacing: 1.4px;
  color: #4355B1;
}
.circleText>p{
  text-align: center;
  font-family:'Montserratarm' ;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;

  letter-spacing: 1.4px;
  color: #4355B1;
}
.businessItsYou{
    position: absolute;
    right: -5%;
    width: 260px;
    top: 70px;
    animation: rotate 10s both infinite;
}

.headerText{
    width: 50%;
    margin-top: 70px;
}
.headerText img {
    width: 100%;
}
@keyframes rotate {
    from {
      transform: rotateZ(0);
    }
  
    to {
      transform: rotateZ(360deg);
    }
  }
/*@keyframes coin-rotate {*/
/*  from {*/
/*    transform: rotateY(0);*/
/*  }*/

/*  to {*/
/*    transform: rotateY(180deg);*/
/*  }*/
/*}*/
.infos-block-mb{
    background: none;
  }
@media screen and (max-width: 1200px) {
  .infos-block-mb{
    background: none;
  }
    .businessItsYou {
        right: -15% !important;
    }
}

.about_page2 img {
    margin: 0;
}

@media screen and (max-width: 900px) {
    #admins .card-block .card-name {
        line-height: 1.2 !important;
    }
    .info-circle:hover{
        transform: rotateY(0deg);
    }
    .info-circle:hover .circleText {
        opacity: 0;
        visibility: hidden;
        transition: all 1s;
        transform: translate(-50%, -50%) rotateY(180deg);
    }
    .info-circle:hover img {
        opacity: 1;
        visibility: visible;
    }
    .buttons>button:hover .liknkAdd{
        color: #002c84 ;
        transition-duration: 0.2s;
    }
    #infos {
        padding: 10px;
    }

  .infos-block-mb{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .infos-block-mb > div {
      width: 100%;
      flex-direction: row-reverse !important;
      justify-content: space-between !important;
  }
    .infos-block-mb > div > div {
        width: 50% !important;
    }

    .infos-block-mb > div > div .marginLeft{
        margin-left: auto;
    }

    .infos-block-mb > div .info-circle-text, .infos-block-mb > div .info-circle-text-up {
        width: 40% !important;
        margin: 0 !important;
        flex-direction: row-reverse !important;
        justify-content: flex-end;
    }

    .info-circle-text-up svg {
        margin-right: 10px;
    }
    .info-circle-text-up p {
        text-align: left;
    }

    .info-circle-text svg {
        margin-left: 10px;
    }
    .info-circle-text p {
        text-align: right;
    }

    .infos-block-mb > div .info-circle-text-up svg {
        transform: rotateZ(90deg) !important;
    }

    .infos-block-mb > div .info-circle-text svg {
        padding: 0 !important;
        transform: rotateZ(90deg) !important;
    }
    .infos-block {
        background-image: url(../../../static/img/infos-bg-rot.svg) !important;
    }

  .about-item img {
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      left: -10px;
  }
  #about .container {
      padding-left: 0;
      width: 100%;
      justify-content: center;
  }
  .about-block{
      width: 87% !important;
  }
  .card h1{
      font-size: 15px;
  }
  
@media screen and (max-width: 390px){
    .info-circle{
        width: 76px !important;
        height: auto !important;
    }
    .infos-block-mb > div .info-circle-text p, .infos-block-mb > div .info-circle-text-up p {
        font-size: 15px !important;
    }
    .infos-block-mb > div .info-circle-text svg, .infos-block-mb > div .info-circle-text-up svg {
        font-size: 20px !important;
    }


}
#admins{
    padding: 0 10px;
    
}
.admins-title>h1{
    font-size: 15px;
}
.admins-title>p{
font-size: 13px;
}
  .mobNone{
      display: none;
  }
  .info-circle{
width: 100px;
height: 100px;
  }
  .info-circle-text{
      font-size: 13px;
  }
  .stepsDots .activeDotEnd::before {
   
    height: 6.4vw;
    
}
.stepsDots .activeDot::after {
    content: '';
    position: absolute;
    background-color: #002C84;
    width: 2px;
    height: 6.4vw;
    top: 100%;
    left: 50%;
}
.stepsDots .activeDotDouble::after {
    content: '';
    position: absolute;
    background-color: #002C84;
    width: 2px;
    height: 6.4vw;
    top: 100%;
    left: 50%;
}
.footer-item {
    width: 100% !important;
    justify-content: end !important;
}
.about_page2{
    margin: 0 10px;
}
#stepsSection .content {
    width: 85%;
    align-self: center;
}
.stepsDots .activeDotDouble::before {

    height: 6.4vw;
   
}
.stepsDots .dot::after {
 
    height: 6.4vw;
  
}
.stepsDots .dot1::after {
   
    height: 6.4vw;
   
}
.stepsDots .dot::before {

    height: 6.4vw;
   
}
.stepsDots .dotEnd::before {
    
    height: 6.4vw;
    
}
.about-item img {
    width: 20px !important;
    left: -20px !important;
}
.about-item p {
    font-size: 12px;


}
  .border-star{
      

  }


.stepsSection-mb{
flex-direction: column !important;
width: 100% !important;
height: auto !important

}
.stepsDots-mb{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

 
  width:100% !important;
  
}
.stepsDots-mb>div{
  transform: rotateZ(-90deg);
}

.stepsDots-mb>div>div{
  transform: rotateZ(90deg);
}
  .infos-block-mb p {
    /*font-size: 12px !important;*/
    margin: 0 !important;
  }
  .infos-block-mb>div{
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .infos-block-mb .info-circle-text-up , .infos-block-mb  .info-circle-text{
    flex-direction: row;
  }
  .infos-block-mb .info-circle-text-up .svg-inline--fa {
    transform: rotateZ(-90deg)
  }
  .infos-block-mb .info-circle-text .svg-inline--fa {
    padding: 5px;
    transform: rotateZ(-90deg)
  }
 
  #admins .card-block {
justify-content: space-evenly;
width: 100%;
  }

  .intro-item-title-text img {
      margin-top: 30px;
  }
}
.card-block{
    align-items: flex-start !important;
}
.card h3{
    margin-top: 10px;
    text-align: center;
    font-family:'Montserratarm' !important;
    font-size: 22px !important;
}

#infosMobile {
    display: none;
}


/*# sourceMappingURL=index.css.map */

@media screen and (max-width: 1125px){
    #admins {
        padding: 0 10px;
    }
}

@media screen and (max-width: 900px) {

    /*.infos-block:before {*/
    /*    transform: translate(-50%, -50%) rotate(90deg) scale(0.9);*/
    /*}*/
    .card>h3{
        font-size: 15px !important;

    }
    .card >p {
        font-size: 12px;
    }
    .card-block{
        width: 100%;
        justify-content: space-evenly !important
    }
    .card>img{
        width: 150px !important;
        height: 150px !important;
    }
    #team{
        padding: 0;
    }
    .intro-item-title-text {
        padding-top: 0 !important;
        width: 100% !important;
    }

    button:hover {
        background: initial !important;
        color: #002c84 !important;
    }

    #intro .container {
        padding: 0;
    }
    .intro-item {
        width: 90% !important;
        margin: 0 auto;
    }
    .intro-item-img {
        display: none;
    }
    .sateliteStar {
        width: 340px !important;
        right: -175px !important;
        top: 45% !important;
    }

    .sateliteStar2 {
        width: 340px !important;
        right: -175px !important;
        top: 47% !important;
    }

    .businessItsYou {
        width: 150px !important;
        top: 42% !important;
        right: 15% !important;
        /*bottom: -64px !important;*/
    }

    .intro-item-title {
        margin-bottom: 250px;
    }

    .about-item {
        width: 90% !important;
        margin-left: auto;
    }

    #about .container .about-block .about-item h1 img {
        left: -40px !important;
    }

    /*#infos {*/
    /*    display: none !important;*/
    /*}*/

    /*#infosMobile {*/
    /*    display: block !important;*/
    /*}*/
}

.card {
    max-width: 190px;
    width: 20%;
    min-width: 120px;
    margin: 0 20px;
}

@media screen and (max-width: 460px) {
    .businessItsYou {
        top: 30% !important;
    }
    .headerText img {
        width: 100% !important;
    }

    .intro-item-title {
        margin-bottom: 460px;
    }

    .sateliteStar {
        top: 30% !important;
    }

    .sateliteStar2 {
        top: 32% !important;
    }

}

@media screen and (max-width: 1440px) {
    .info-circle-text-up {
        margin-bottom: 50px !important;
    }

    .info-circle-text {
        margin-top: 50px !important;
    }

    .infos-block > div {
        align-self: unset !important;
        margin: 1.68% 0 !important;
    }
}

@media screen and (max-width: 1680px) {
    .small-font-size {
        font-size: 9px !important;
    }
}

@media screen and (max-width: 1530px) {
    .small-font-size {
        font-size: 8px !important;
    }
}

@media screen and (max-width: 1340px) {
    .small-font-size {
        font-size: 7px !important;
    }
}

@media screen and (max-width: 1245px) {
    .small-font-size {
        font-size: 6px !important;
    }
}


@media screen and (max-width: 1300px) {
    .small-font-size-2 {
        font-size: 8px !important;
    }
}

@media screen and (max-width: 1060px) {
    .small-font-size-2 {
        font-size: 7px !important;
    }

    .small-font-size {
        font-size: 5.5px !important;
    }
}

.ruBusinessWidth100 {
    width: 100% !important;
}